<table class="table">
    <thead>
        <tr>
            <th>Name<a ng-click="sortBy='NAME'" class="icon-chevron-down"><a ng-click="sortBy='-NAME'" class="icon-chevron-up"></th>
            <th>Brewery<a ng-click="sortBy=['BREWERY','NAME']" class="icon-chevron-down"><a ng-click="sortBy=['-BREWERY','NAME']" class="icon-chevron-up"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="beer in beers | orderBy: sortBy | limitTo: 10">
            <td>{{beer.name}}</td>
            <td>{{beer.BREWERY}}</td>
        </tr>
    </tbody>
</table>