<!DOCTYPE html>
<html>
    <head>
        <title>Checkboxes Code</title>
        <link rel="stylesheet" href="/common/highlight/highlight.min.css">
        <link rel="stylesheet" href="/common/highlight/styles/default.css">
        <script src="/common/highlight/highlight.pack.js"></script>
        <script src="/common/highlight/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>
<body>
<h2>Filter by Checkboxes Code</h2>
<p>Controller</p>
<pre>
<code class="javascript">
'use strict';

var controllers = angular.module('app.controllers',[]);

controllers.controller('MainCtrl', function( $scope, $location, $routeParams, Host, $filter)  {
  $scope.filterItems = {
    'Dev': true,
    'Staging': true,
    'Production': true
  };
  $scope.items = [
    {name:'Dev'}, 
    {name:'Staging'}, 
    {name:'Production'}
  ];
  //filter
  $scope.testFilter = function (host) {
    return $scope.filterItems[host.environment.title];
  };
});
</code>
</pre>

<p>HTML</p>
<pre>
<code class="html">
&lt;div class=&quot;scrollable&quot; ng-controller=&quot;MainCtrl&quot;&gt; 
  &lt;div class=&quot;edit_controls&quot;&gt; 
    &lt;div ng-repeat = &quot;item in items&quot;&gt; 
      &lt;input type=&quot;checkbox&quot; ng-model=&quot;filterItems[item.name]&quot;&gt; {{item.name}} 
    &lt;/div&gt; 
    &lt;/div&gt; 
      &lt;table class=&quot;table table-bordered table-condensed table-striped table-hover&quot;&gt; 
        &lt;thead&gt; 
          &lt;tr&gt; 
            &lt;th&gt;
              Title &lt;a ng-click=&quot;setOrder('title')&quot; class=&quot;icon-chevron-down&quot;&gt;&lt;/a&gt; 
              &lt;a ng-click=&quot;setOrder('-title')&quot; class=&quot;icon-chevron-up&quot;&gt;&lt;/a&gt;
            &lt;/th&gt; 
            &lt;th&gt;
              Environment &lt;a ng-click=&quot;setOrder('environment.title')&quot; class=&quot;icon-chevron-down&quot;&gt;&lt;/a&gt; 
              &lt;a ng-click=&quot;setOrder('-environment.title')&quot; class=&quot;icon-chevron-up&quot;&gt;&lt;/a&gt;
            &lt;/th&gt; 
            &lt;th&gt;
              Hostname External &lt;a ng-click=&quot;setOrder('environment.hostname_external')&quot; class=&quot;icon-chevron-down&quot;&gt;&lt;/a&gt; 
              &lt;a ng-click=&quot;setOrder('-environment.hostname_external')&quot; class=&quot;icon-chevron-up&quot;&gt;&lt;/a&gt;
            &lt;/th&gt; 
            &lt;th&gt;
              Hostname Internal &lt;a ng-click=&quot;setOrder('environment.hostname_internal')&quot; class=&quot;icon-chevron-down&quot;&gt;&lt;/a&gt; 
              &lt;a ng-click=&quot;setOrder('-environment.hostname_internal')&quot; class=&quot;icon-chevron-up&quot;&gt;&lt;/a&gt;
            &lt;/th&gt; 
          &lt;/tr&gt; 
        &lt;/thead&gt; 
        &lt;tbody&gt; 
          &lt;tr class=&quot;list&quot; ng-repeat=&quot;host in hosts|orderBy:orderProp|filter:testFilter&quot;&gt; 
            &lt;td ng-click=&quot;getHost(host.id)&quot;&gt;{{host.title}}&lt;/td&gt; 
            &lt;td&gt;{{host.environment.title}}&lt;/td&gt; 
            &lt;td&gt;{{host.environment.hostname_external}}&lt;/td&gt; 
            &lt;td&gt;{{host.environment.hostname_internal}}&lt;/td&gt; 
          &lt;/tr&gt; 
        &lt;/tbody&gt; 
      &lt;/table&gt; 
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
</body>
</html>